body {
  /* background-color: #202020;
  color: white; */
  background-color: white;
  color: #202020;
  
}

/*

ALT fonts:

font-family: 'Lato', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'PT Mono', monospace;
font-family: 'IBM Plex Mono', monospace;
font-family: 'Muli', sans-serif;
font-family: 'Nunito', sans-serif;

NEURESTHETIC BLUES

#43545F logoshade dark
#5A717F logoshade medium
#657E8F logoshade light

logoshade dark monochromatic set:
#43545F lsdark
#40667F navish
#CCEBFF blue tint white
#7FCDFF sky
#66A4CC led paint

*/


h1{
 font-size: 2em;
}
/*  */
h2{
  font-size: 1.2em;
}

p {
  font-size: 1em;
}

/* SECTION SECTION */
.Ss {
  height:33vh;
}

#section1{
  font-family: 'Lato', sans-serif;
  background-color: #43545F;
  color: white;
}

#section2{
  font-family: 'Lato', sans-serif;
  background-color: #40667F;
  color: black;
}

#section3{
  font-family: 'Lato', sans-serif;
  background-color: #CCEBFF;
  color: #202020;
}

#section4{
  font-family: 'Lato', sans-serif;
  background-color: #7FCDFF;
  color: #202020;
}

#section5{
  font-family: 'Lato', sans-serif;
  background-color: #66A4CC;
  color: #202020;
}

/* #section6{
  font-family: 'Lato', sans-serif;

} */

/* MAIN HEADERS */
#tH1{

}

#tH2{

}

#tH3{

}

/* #tH4{

}

#tH5{

}

#tH6{

} */

/* SUB HEADERS */
#th1{

}

#th2{

}

#th3{

}

/* #th4{

}

#th5{

}

#th6{

} */
